*{
  box-sizing: border-box;
}
body{
   font-family:  
   "BlinkMacSystemFont", 
   "Segoe UI", 
   "Roboto", 
   "Oxygen", 
   "Ubuntu", 
   "Cantarell", 
   "Fira Sans", 
   "Droid Sans", 
   "Helvetica Neue", 
   sans-serif,
  "Aldrich",
  "Inter";
}
.container {
  background: linear-gradient(134deg, rgba(3, 9, 29, 0.95) 13.47%, #132059 56.64%, #03091D 90.93%);
  padding: 10px 0;
  min-height: 100vh;
}
.app-container{
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}